<div class="container">
    <div class="row">
        <div class="form-header">Add new Employee</div>
        <div class="col-xs-12 col-md-12 form-container">
            <form [formGroup]="employeeForm">
                <div class="custom-form col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="name">Name *:</label>
                        <input class="form-control" formControlName="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="address">Address *:</label>
                        <input class="form-control" formControlName="address" id="address">
                    </div>
                    <div class="form-group">
                        <label for="experience">Experience *:</label>
                        <input class="form-control" formControlName="experience" id="experience">
                    </div>
                    <div class="form-group">
                        <label for="designation">Designation *:</label>
                        <input class="form-control" formControlName="designation" id="designation">
                    </div>
                    <div class="form-group">
                        <label for="noOfTests">No of Tests *:</label>
                        <input class="form-control" formControlName="noOfTests" id="noOfTests">
                    </div>
                    <div class="form-group">
                        <label for="contactNo">Contact No *:</label>
                        <input class="form-control" formControlName="contactNo" id="contactNo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-4"> 
                        <button class="btn std-blue-btn mr-4" (click)="cancel()">Cancel</button>
                        <button class="btn std-blue-btn" [disabled]="!employeeForm.valid" (click)="saveNewEmployee()">Save</button>   
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    