<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="info-box">
                <div>{{client.name}}</div>
                <div class="info-subheader">{{client.headquarter}}</div>
                <div class="info-subheader">{{client.contactNo}}</div>
                <div class="info-subheader">No of Employees: {{client.noOfEmployees}}</div>
                <button class="btn std-blue-btn" [routerLink]="['/addemployee']">Add New Employee</button>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-8">
            <div class="emp-header">Employees ({{employeeList.length}}):</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" [(ngModel)]="searchText" placeholder="Search Employee">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 col-xs-12 custom-grid">
            <div class="flex-grid grid-header">
                <div class="col">Name</div>
                <div class="col">Address</div>
                <div class="col">Experience</div>
                <div class="col">Designation</div>
                <div class="col">No of Tests</div>
                <div class="col">Contact No</div>
                <div class="col"></div>
            </div>
            <div class="flex-grid grid-panel" (click)="showEmployeeDetails(emp)" 
                    *ngFor="let emp of employeeList | searchfilter: searchText">
                <div class="col">{{emp.name}}</div>
                <div class="col">{{emp.address}}</div>
                <div class="col">{{emp.experience}}</div>
                <div class="col">{{emp.designation}}</div>
                <div class="col">{{emp.noOfTests}}</div>
                <div class="col">{{emp.contactNo}}</div>
                <div class="col icon-delete">
                    <span>
                        <i class="fa fa-trash" (click)="deleteEmployee($event, emp)" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>