<div class="container">
    <div class="row">
        <div class="form-header">Add new client</div>
        <div class="col-xs-12 col-md-12 form-container">
            <form [formGroup]="clientForm">
                <div class="custom-form">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="name">Name *:</label>
                        <input class="form-control" formControlName="name" id="name">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="headquarter">Head Quarter * :</label>
                        <input class="form-control" formControlName="headquarter" id="headquarter">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="noOfEmployees">No Of Employees * :</label>
                        <input class="form-control" formControlName="noOfEmployees" id="noOfEmployees">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="website">Website:</label>
                        <input class="form-control" formControlName="website" id="website">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label for="contactNo">Contact No * :</label>
                        <input class="form-control" formControlName="contactNo" id="contactNo">
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <button class="btn std-blue-btn mr-4" (click)="cancel()">Cancel</button>                            
                            <button class="btn std-blue-btn" [disabled]="!clientForm.valid" (click)="saveNewClient()">Save</button>                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
