.client-header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size:20px;
    color: #666666;
}

.client-grid-header > .col {
    color: #666666;
    font-size: 11px;
    border-bottom: 1px solid #B8B8B8
}

.client-subheader {
    font-size: 12px;
    color: #666666;
}

.client-mainheader {
    font-size: 14px;
}
.client-mainheader:hover {
    color: #00B2EE;
}