<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="float-right">
                <button class="btn std-blue-btn" [routerLink]="['/addclient']">Add New Client</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="client-header">Clients ({{clientList.length}})</div>
            <div class="flex-grid client-grid-header">
                    <div class="col">Name</div>
                    <div class="col">Headequarter</div>
                    <div class="col">No of Employees</div>
                    <div class="col">Contact No</div>
                    <div class="col"></div>
                </div>
            <div class="flex-grid grid-panel" *ngFor="let clist of clientList" (click)="showClientDetails(clist)">
                <div class="col client-mainheader">{{clist.name}}</div>
                <div class="col client-subheader">{{clist.headquarter}}</div>
                <div class="col client-subheader">{{clist.noOfEmployees}}</div>
                <div class="col client-subheader">{{clist.contactNo}}</div>
                <div class="col icon-delete" (click)="deleteClient($event, clist)">
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                </div> 
            </div>
            <div *ngIf="clientList.length === 0" class="client-panel">
                <div class="client-subheader">No Clients to show</div>
            </div>
        </div>
    </div>
</div>

 