<div class="container">
    <div class="row">
        <div class="form-header">Add new Test</div>
        <div class="col-xs-12 col-md-12 form-container">
            <form [formGroup]="testResultForm">
                <div class="custom-form col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="testCode">Test Code *:</label>
                        <input class="form-control" formControlName="testCode" id="testCode">
                    </div>
                    <div class="form-group">
                        <label for="name">Test Name *:</label>
                        <input class="form-control" formControlName="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="result">Result *:</label>
                        <input class="form-control" formControlName="result" id="result">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-4"> 
                        <button class="btn std-blue-btn mr-4" (click)="cancel()">Cancel</button>
                        <button class="btn std-blue-btn" [disabled]="!testResultForm.valid" (click)="saveNewTest()">Save</button>        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
        