<div class="container">
        <div class="row ">
            <div class="col-md-12 col-xs-12 ">
                <div class="info-box">
                    <div>{{employee.name}}</div>
                    <div class="info-subheader">{{employee.address}}</div>
                    <div class="info-subheader">
                        <span>{{employee.experience}} years </span>
                        <span>{{employee.designation}}</span>
                    </div>
                    <div class="info-subheader">{{employee.contactNo}}</div>
                    <button class="btn std-blue-btn" [routerLink]="['/addtest']">Add New Test</button>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-8">
                <div class="test-header">Tests ({{testsList.length}}):</div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-xs-12 custom-grid">
                <div class="mb-2"></div>
                <div class="flex-grid grid-header">
                    <div class="col">Test Name</div>
                    <div class="col">Test Code</div>                    
                    <div class="col">Result</div>
                    <div class="col"></div>
                </div>
                <div class="flex-grid grid-body" *ngFor="let test of testsList">
                    <div class="col test-name">{{test.name}}</div>                    
                    <div class="col">{{test.testCode}}</div>
                    <div class="col">{{test.result}}</div>
                    <div class="col icon-delete">
                        <span>
                            <i class="fa fa-trash" (click)="deleteTest($event, test)" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>