/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}


.icon-delete {
    cursor: pointer;
    color: #B8B8B8;
    font-size: 20px;
}

.icon-delete:hover {
    color:black;
}

.form-container {
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #E0E0E0;
    box-shadow: #F5F5F5 2px 2px 2px 3px;
    font-size: 12px;
    color: #666666;
    background-color: white;
}

.form-header {
    margin-top: 30px;
    font-size: 20px;
    color: #666666;
    font-weight: 600;
}


.grid-panel {
    font-size:13px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.grid-panel:hover {
    background-color: white;
    box-shadow: 2px 5px 10px 3px #E0E0E0;
}



.custom-grid {
    color: #666666;
    font-size: 12px;
}

.flex-grid {
    display: flex;
}
.col {
    flex: 1;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px;
}

.grid-header {
    background-color: #F8F8F8;
    font-size: 11px;
    color: #666666;
}


.info-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #D8D8D8;
    box-shadow: 2px 2px 2px 3px #E0E0E0;
    position: relative;
    background-color: white;
}

.info-box > button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.info-subheader {
    font-size: 11px;
    color: #666666;
}

.std-blue-btn{
    font-size: 14px;
    color: white;
    padding: 10px 15px 10px 15px;
    background:#00B2EE;
    border: none;
    line-height: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .std-blue-btn:hover {
    background: #0099CC;
    color: white;
  }
  
  .std-blue-btn:active {
    background: white;
    color: #00B2EE !important;
    outline: none !important;
  }
  
  .std-blue-btn:focus {
    color: white;
    outline: none;
  }
  
  .std-blue-btn.disabled {
    color: white;
    background-color: #BBBBBB;
    border-color: #1F81D3;
    cursor: pointer;
  }
  